@charset "UTF-08";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: hsl(257, 40%, 49%);
    background-image: url('images/bg-desktop.svg');
    background-size: cover;
}
header{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    
}
header > img{
    width: 13%;
    margin-left: 3em;
}
main{
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width:50%;
}
.img-container > img{
    width: 90%;
    margin-left: 3em;
}
.text-container{
    justify-content:space-around ;
}
 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    color: white;
    font-weight: 600;
}   
p{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(257, 40%, 49%);
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 50px;
    padding: .8em 3em;
    font-size: 1.1em;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.209);
    font-family: 'Poppins';
    transition: .2s ease-in-out;
    cursor: pointer;

    
}
button:hover{
    background-color: hsl(300, 69%, 71%);
}
.btn-container{
    width: 100%;
}
.text{
    height: 30%;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.icons{
    width: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.icons ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 30%;

}
.icons  img{
    width: 70%;
    cursor: pointer;
    
}
.icons li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2em;
    border-radius: 8000px;
    transition: .2s ease-in-out;
}

.icons li:hover{
    box-shadow: 0px 0px 2px 4px #ffffff47;
}

@media  screen and (max-width:1280px) {
    header > img{
        width: 15%;
    }
    h1{
        font-size: 2em;
    }
    p{
        font-size: 1em;
        line-height: 1.5em;
    }
    .text{
        gap: 1.2em;
    }
}
@media  screen and (max-width:900px){
    header > img{
        width: 20%;
        margin-left: 0em;
    }
    .img-container img{
        width: 100%;
        margin-left: 0em;
    }
    .text{
        width: 90%;
    }
    .icons{
        width: 90%;
    }
}
@media  screen and (max-width:780px){
    body{
        background-image: url('images/bg-mobile.svg');
        background-size: contain;
        background-repeat: no-repeat;
        height: 160vh;
        overflow-x: hidden;
    }
    header{
        height: 10%;
    }
    header img{
        width: 40%;
        margin-left: 3em;
    }
    main{
        flex-direction: column;
        height: 90%;
        gap: 0em;
    }
    section{
        height: 50%;
        width: 80%;
    }
    .text-container{
        height: 40%;
        justify-content: space-between;
    }
    .text{
        text-align: center;
        align-items: center;
        gap: 2em;
    }
    .btn-container{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .icons{
        display: flex;
        width: 90%;
        height: 30%;
        justify-content: center;
        align-items: flex-end;
    }
    .icons img{
        width: 110%;
    }
    .icons ul{
        gap: 10px;
        width: 40%;
    }
}